<?xml version="1.0"?>
<config>
    <modules>
        <Bdt_Promobanner>
            <version>0.1.0</version>
        </Bdt_Promobanner>
    </modules>
    <frontend>
        <routers>
            <promobanner>
                <use>standard</use>
                <args>
                    <module>Bdt_Promobanner</module>
                    <frontName>promobanner</frontName>
                </args>
            </promobanner>
        </routers>
        <layout>
            <updates>
                <promobanner>
                    <file>promobanner.xml</file>
                </promobanner>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <promobanner>
                <use>admin</use>
                <args>
                    <module>Bdt_Promobanner</module>
                    <frontName>promobanner</frontName>
                </args>
            </promobanner>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <promobanner module="promobanner">
                <title>Promotion Banner</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="promobanner">
                        <title>Manage Banners</title>
                        <sort_order>0</sort_order>
                        <action>promobanner/adminhtml_promobanner</action>
                    </items>
                </children>
            </promobanner>
        </menu>
		
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <promobanner>
                            <title>Staticbanner Module</title>
                            <sort_order>10</sort_order>
                            <children>
                                <items>
                                    <title>Manage Block</title>
                                    <sort_order>0</sort_order>
                                </items>
                            </children>
                        </promobanner>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <promobanner>
                    <file>promobanner.xml</file>
                </promobanner>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <promobanner>
                <class>Bdt_Promobanner_Model</class>
                <resourceModel>promobanner_mysql4</resourceModel>
            </promobanner>
            <promobanner_mysql4>
                <class>Bdt_Promobanner_Model_Mysql4</class>
                <entities>
                    <promobanner>
                        <table>promobanner</table>
                    </promobanner>
                </entities>
            </promobanner_mysql4>
        </models>
        <resources>
            <promobanner_setup>
                <setup>
                    <module>Bdt_Promobanner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promobanner_setup>
            <promobanner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </promobanner_write>
            <promobanner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </promobanner_read>
        </resources>
        <blocks>
            <promobanner>
                <class>Bdt_Promobanner_Block</class>
            </promobanner>
        </blocks>
        <helpers>
            <promobanner>
                <class>Bdt_Promobanner_Helper</class>
            </promobanner>
        </helpers>
    </global>
</config>