<?xml version="1.0"?>
<!--
/**
 * Created by praful.rajput on 9/24/2015.
 * See COPYING.txt for license details.
 */
-->

<config>
    <modules>
        <Bdt_Promobanner>
            <version>0.1.0</version>
        </Bdt_Promobanner>
    </modules>
    <frontend>
        <routers>
            <promobanner>
                <use>standard</use>
                <args>
                    <module>Bdt_Promobanner</module>
                    <frontName>promobanner</frontName>
                </args>
            </promobanner>
        </routers>
        <layout>
            <updates>
                <promobanner>
                    <file>promobanner.xml</file>
                </promobanner>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <promobanner>
                <use>admin</use>
                <args>
                    <module>Bdt_Promobanner</module>
                    <frontName>promobanner</frontName>
                </args>
            </promobanner>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <promobanner>
                    <file>promobanner.xml</file>
                </promobanner>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <promobanner>
                <class>Bdt_Promobanner_Model</class>
                <resourceModel>promobanner_mysql4</resourceModel>
            </promobanner>
            <promobanner_mysql4>
                <class>Bdt_Promobanner_Model_Mysql4</class>
                <entities>
                    <promobanner>
                        <table>promobanner</table>
                    </promobanner>
                </entities>
            </promobanner_mysql4>
        </models>
        <resources>
            <promobanner_setup>
                <setup>
                    <module>Bdt_Promobanner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promobanner_setup>
            <promobanner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </promobanner_write>
            <promobanner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </promobanner_read>
        </resources>
        <blocks>
            <promobanner>
                <class>Bdt_Promobanner_Block</class>
            </promobanner>
        </blocks>
        <helpers>
            <promobanner>
                <class>Bdt_Promobanner_Helper</class>
            </promobanner>
        </helpers>
    </global>
</config>